{% extends 'base.html' %}

{% load static %}

 {% block content %}
 <div class="container" style="margin-top: 100px">
  <div class="row justify-content-center">
     <div class="col-12 col-lg-8 mb-5"> <!-- Added mb-5 for bottom margin -->
      <div class="border p-4 rounded-3 shadow-sm" style="background-color: #f8f9fa;">
        <h2 class="mb-4 text-center">Completed Challenges</h2>
         <div class="list-group">
                {% for uc in userchallenges %}
                  <div class="list-group-item list-group-item-action mb-2 rounded text-start" style="background-color: #e9ecef;">
                    <h5 class="mb-1">Title: {{ uc.daily_challenge.challenge.title }}</h5>
                    <p class="mb-1">Description: {{ uc.daily_challenge.challenge.description }}</p>
                    <form id="combinedForm" method="post" action="{% url 'gamekeeper' %}">
                        {% csrf_token %}
                        <textarea class="mb-1 col-12" name="response" id="response_id">{{ uc.response }}</textarea>
                        <small class="text-muted">Date Completed: {{ uc.submitted|date:"d M Y" }}</small>
                        <input type="hidden" name="post_id" value="{{ uc.id }}" id="post_id">
                        <button type="submit" class="btn btn-success" style="float: right; margin-left: 5px" name="editButton">Edit Post</button>
                        <button type="submit" class="btn btn-danger" style="float: right;" name="deleteButton">Delete Post</button>
                    </form>
                  </div>

                {% endfor %}
         </div>
      </div>
     </div>
  </div>
 </div>
{% endblock %}
