{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;

}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}



.content {
    background: rgba(41, 117, 37, 0.5); 
    padding: 30px; 
    border-radius: 50px;
    font-size: 2em;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .content {
        font-size: 1.5em; /* Smaller font size for smaller screens */
    }

    .cookie-consent-banner {
        width: 95%;
    }
}

.cookie-consent-overlay {
    display: none; 
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1050; 
    cursor: pointer;
    backdrop-filter: blur(10px); 
}

.cookie-consent-banner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(41, 117, 37, 1); 
    color: white;
    text-align: center;
    padding: 20px 20px;
    border-radius: 30px;

    display: none; 
    z-index: 1051;
}
.cookie-consent-banner p {
    margin: 0;
    padding: 0;
}
.cookie-consent-banner button {
    background-color: #17A2B8;
    color: white;
    border: black;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 15px 0;
    cursor: pointer;
    }
</style>
<div class="challenge-section">
    <!-- Background image set inline to utilize the Django static file system -->
    <div class="background-image" style="background-image: url('{% static 'project/exeter_uni_campus.jpg' %}');"></div>
    <div class="content">
        <p>Todays challenge:</p>
        <p  style="font-weight: 400;">{{ daily_challenge|default:"Daily Challenge Sample Text" }}</p>
        <a href="{% url 'make_post' %}" class="btn btn-primary mt-2">Submit Challenge</a>
    </div>
</div>

<div class="posts-feed">
    {% for post in posts %}
    <div class="post">
        <div class="post-header">
            <a class="username" href="{% url 'profile' post.username %}">{{ post.username }}</a>
            <span class="post-date">{{ post.created_at|date:"H:i M d, Y" }}</span>
        </div>
        <div class="post-content">{{ post.content }}</div>
    </div>
    {% empty %}
    <p>No Posts!</p>
    {% endfor %}
</div>

<!-- Cookier banner -->
<div id="cookieConsentOverlay" class="cookie-consent-overlay"></div>
<div id="cookieConsentBanner" class="cookie-consent-banner">
    <p>We use cookies to improve your experience on our site. By continuing to use our site, you accept our use of cookies. <a href="{% url 'privacy_policy' %}">Learn more</a>.</p>
    <button id="acceptCookieConsent">Accept</button>
</div>

<script>
    window.addEventListener('scroll', function() {
        const header = document.querySelector('.challenge-section');
        let scrollPosition = window.scrollY < 0 ? 0 : window.scrollY;
    
        // Adjust the size more smoothly based on scroll position
        let newSize = Math.max(100 - scrollPosition / 5, 60); // Adjusted for smoother transition and minimum size
        header.style.height = newSize + "vh";
    
        // Adjust the background image blur, starting from 0px to ensure it's clear on initial load
        const background = document.querySelector('.background-image');
        // Initialize blur effect to 0px on page load
        let initialBlur = 0; // Ensuring background starts without blur
        let newBlur = Math.max(initialBlur, Math.min(scrollPosition / 100, 5)); // Adjusted maximum blur for subtlety        background.style.filter = `blur(${newBlur}px)`;
    });

    // Set initial blur state on page load to 0px
    document.addEventListener("DOMContentLoaded", function() {
        const background = document.querySelector('.background-image');
        background.style.filter = "blur(0px)";
    });

    // Cookie Consent Banner JavaScript
    document.addEventListener("DOMContentLoaded", function() {
      var consent = localStorage.getItem('userConsent');
      if (!consent) {
        document.getElementById('cookieConsentBanner').style.display = 'block';
        document.getElementById('cookieConsentOverlay').style.display = 'block';
      }

      document.getElementById('acceptCookieConsent').onclick = function() {
        localStorage.setItem('userConsent', 'true');
        document.getElementById('cookieConsentBanner').style.display = 'none';
        document.getElementById('cookieConsentOverlay').style.display = 'none';
      };
    });

</script>
    
{% endblock %}
