{% extends 'base.html' %}

{% block content %}
<div class="leaderboard-container">
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-text" id="challenges_completed_text">Challenges Completed: {{num_challenges_completed.challenges_completed}}</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-success">
                    
                    <div class="card-body">
                        <h5 class="card-text" id="position_text">Your Position: {{user_position}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Display the 'streak' and 'points' buttons to switch what is displayed on the leaderboard. -->
    <div class="btn-group btn-group-toggle mt-3" data-toggle="buttons">
        <label id="streak_button" class="btn btn-secondary active " onclick="sortData('streak')">
            <input type="radio" name="leaderboard_options" id="streak_button" checked> Streak
        </label>
        <label id="village_score_button" class="btn btn-secondary " onclick="sortData('village score')">
            <input type="radio" name="leaderboard_options"> Village Score
        </label>
        <label id="monthly_coins_button" class="btn btn-secondary" onclick="sortData('monthly coins')">
            <input type="radio" name="leaderboard_options"> Monthly Coins
        </label>
    </div>
    <div class="container mt-4">
        <!-- Write the table headers -->
        <div class="row ">
            <div class="col">
                <h3>Username</h3>
            </div>
            <div class="col">
                <h3 id="table_heading">Streak</h3>
            </div>
        </div>
        <div id="table-contents">
            <!-- Display the first page of the leaderboard-->
            {% for entry in first_page %}
                <a href="{% url 'profile' entry.username %}" class="link">
                <div class="row rounded-pill my-2 p-3 leaderboard {% if forloop.first %} leaderboard-first {% elif forloop.counter0 == 1 %}leaderboard-second{% elif forloop.counter0 == 2 %}leaderboard-third{% else %}leaderboard-other{% endif %}">
                    <div class="col">
                        {{ entry.username }}
                    </div>
                    <div class="col">
                        {{entry.streak}}
                    </div>
                </div>
            </a>
            {% empty %}
                <li>No data available</li>
            {% endfor %} 
        </div>
    </div>
    <!-- Creating the page buttons to view the leaderboard data. On each button click the data will change which the 'changeDataDisplayed' function does. -->
    <div class="btn-group-toggle mt-2 " data-toggle="buttons">
    {% for pageNumber in num_pages%}
        <label class="btn btn-secondary active rounded-circle">
            {% if forloop.first %}
                <input onclick="changeDataDisplayed( '{{forloop.counter0}}' )" type="radio" name="options" checked> {{forloop.counter0|add:"1"}}
            {% else %}
                <input onclick="changeDataDisplayed( '{{forloop.counter0}}' )" type="radio" name="options"> {{forloop.counter0|add:"1"}}
            {% endif %}
        </label>
        {% empty %}
            <label class="btn btn-secondary active">
                <input type="radio" name="options" checked> 1
            </label>
    {% endfor %}
    </div>
</div>
<script src="/static/leaderboard.js" defer></script>
{{ entries|json_script:"" }} <!-- Pass the entry data to the script (rendered as <script type="application/json"> variable data here </script>) - from: https://adamj.eu/tech/2022/10/06/how-to-safely-pass-data-to-javascript-in-a-django-template/-->
{{ num_challenges_completed|json_script:"user_challenges_completed" }}
{% endblock %}
