{% extends 'base.html' %}

{% block content %}

    <!-- Container for the Login Form, centered with similar styling to profile-container -->
    <div class="profile-container" style="margin-top: 50px;">
        <!-- Login Form -->
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}


            <!-- Username Input -->
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username" required>
            </div>

            <!-- Password Input -->
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>
        <div class="form-group">
          <a href="{% url 'index' %}" class="btn btn-secondary">Back</a>
          <a href="{% url 'registration' %}" class="btn btn-secondary">Registration</a>
      </div>
    </div>

{% endblock %}
