<!-- Code by Dan -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Circular Profile Icon with Django template tags for dynamic URL and static file -->
    {% load static %}
    
  
    <a class="navbar-brand" href="{% url 'profile' request.user.username %}">
      <img src="{% static 'project/Example_Profile_Pic.jpg' %}" alt="Profile" style="width: 40px; height: 40px; border-radius: 50%;">
    </a> 
    <div></div>
    <a class="navbar-brand mx-auto font-weight-bold" href="{% url 'home' %}" style="position: absolute; left: 50%; transform: translateX(-50%);">
      YourAppName
    </a>


    <div class="nav-item dropdown">
     <!-- Dropdown Button -->
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Adjusted Dropdown Menu -->
      <div class="dropdown-menu dropdown-menu-right custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'index' %}">Index</a>
          <a class="dropdown-item" href="{% url 'registration' %}">Registration</a>
          <a class="dropdown-item" href="{% url 'login' %}">Login</a>
      </div>
      </div>
    </div>
  </nav>
