<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"><!-- fixed-top - removed so you don't need to add padding to the top of the rest of the content.-->
  <div class="container-fluid d-flex justify-content-between">
    <!-- Circular Profile Icon with Django template tags for dynamic URL and static file -->
    {% load static %}
    
    {% if request.user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'profile' request.user.username %}">
      <img src="{% static 'project/Example_Profile_Pic.jpg' %}" alt="Profile" style="width: 40px; height: 40px; border-radius: 50%;"> <!--/media/{{request.user.username}}/profile-picture.jpg-->
    </a> 
    {% endif %}
    <!-- Placeholder for visual balance, ensuring center alignment of the App Name -->
    <div></div>

    <!-- App Name centered with improved CSS for better responsiveness -->
    
    <a class="navbar-logo mx-auto" href="{% url 'home' %}" style="position: absolute; left: 50%; transform: translateX(-50%);">
      <img src="{% static 'project/brand_logo.png' %}" alt="AppName" style="height: 40px;"> <!-- Adjust 'path/to/your/logo/image.png' and styles as needed -->
    </a>
    

    <!-- Correctly structured Toggle button for mobile views inside a nav-item, outside of a li element -->
    <div class="nav-item dropdown">
     <!-- Dropdown Button -->
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Adjusted Dropdown Menu -->
      <div class="dropdown-menu dropdown-menu-right custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'home' %}">Home</a>
            <a class="dropdown-item" href="{% url 'profile' request.user.username %}">My Profile</a>
            <a class="dropdown-item" href="{% url 'leaderboard' %}">Leaderboard</a>
            <a class="dropdown-item" href="{% url 'village' %}">My Village</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'index' %}">Index</a>
            <a class="dropdown-item" href="{% url 'registration' %}">Registration</a>
            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
          {% endif %}
      </div>
      </div>
    </div>
  </nav>
  