{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile-container">
    <img src="{% static 'project/Example_Profile_Pic.jpg' %}" alt="Profile Picture" class="profile-picture">
    <h2 class="username">{{ user.username|default:"Username" }}</h2>
    <div class="stats">
        <p>Stat 1: {{ user.profile.stat1|default:"0" }}</p>
        <p>Stat 2: {{ user.profile.stat2|default:"0" }}</p>
        <p>Stat 3: {{ user.profile.stat3|default:"0" }}</p>
    </div>
</div>
{% endblock %}
