{% extends 'base.html' %}

{% load static %}
{% load math_filters %}
{% block content %}
<div class="game-board-container">
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="user-info-display">
        <div class="total-score-display">
            Score: {{ total_score }}
        </div>
        <div class="coins-display">
            <div class="coins-text-and-value">Coins: {{ num_coins }}</div>
            <div class="coin-img-container">
                <img class="coin-img" src="{% static 'project/coin.png' %}" alt="Coin">
            </div>
        </div>
    </div>
    <div class="game-board">
        {% for row in board %}
            <div class="row"> <!-- Should rename this class to column -->
                {% for cell in row %}
                
                {% if user == request.user %}
                    <a href="{% url 'village_shop'%}?position={{ forloop.parentloop.counter0|find_grid_position:forloop.counter0 }}"> 
                {% endif %}
                        <div class="cell">
                        {% if cell.image_path %}
                            <img src="{% static 'project/game_assets/'|add:cell.image_path %}" alt="Cell Image">
                        {% else %}
                            <!-- This tile is intentionally left empty -->
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
