{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="game-board-container">
    <div class="game-board">
        {% for row in board %}
            <div class="row">
                {% for cell in row %}
                    <div class="cell">
                        {% if cell.image_path %}
                            <img src="{% static 'project/game_assets/'|add:cell.image_path %}" alt="Cell Image">
                        {% else %}
                            <!-- This tile is intentionally left empty -->
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
